<div id="<%= dom_id uslugi %>">
  <p>
    <strong>Title:</strong>
    <%= uslugi.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= uslugi.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= uslugi.image_url %>
  </p>

</div>
