<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #42f599;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/salon/index"><%= image_tag("Logo", class: 'logo')%> <%= image_tag("buldoser", class: 'logo1' )%></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="/salon/index"  ><strong>Главная</strong> <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/usluga" ><strong>Услуги</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/oplata"><strong>Оплата</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/kontakt"><strong>Контакты</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/nas"><strong>О нас</strong></a>
      </li>
    </ul>
  </div>
</nav>