<%= render "pages/navbar" %>
<div class="oplata">
  <h1>Наши контакты</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="oplata1">
       <p>Наш офис находится по адресу:</p>
       <span> Москва, поселение Новофёдоровское,посёлок Рассудово, Железнодорожная улица, 4А    </span>
        <br>
        <br>
        <p>График работы:</p>
        <span>8:00-20:00 Пн-Сб</span>
        <br>
        <br>
        <p>Телефоны:</p>
        <span>+7 985 348 6666 || +7 985 850 23 63 </span>
        <br>
        <br>
        <p>Электронная почта:</p>
       <span>spectexniks.makaryan@ya.ru</span>
      </div>
    </div>
      <div class="col-md-6">
          <%= image_tag("karta.png", size: "600x400") %>
      </div>
    </div>
  </div>
</div>