<%= render "pages/navbar" %>
<div class="oplata">
  <h1>О Нас</h1>
        <p>Наша компания предоставляет услуги по строительству дорог и аренде спецтехники в Москве и в Московкской области ц 2009 года. Мы обладаем широким опытом работы на рынке и станем надежным партнером для вашего бизнеса. Наша компания успешно выполнила большое количество крупных и мелких заказов и хорошо зарекомендовала себя среди клиентов.</p>
        <p>В большинстве проектов участвовала именно наша техника. Но бывали случаи, когда клиенту срочно требовалась помощь нашей компании в работе для соблюдения сроков. В таких ситуациях мы всегда шли навстречу — предоставляли необходимое количество рабочей силы и при этом не пытались получить сверхприбыль, мотивируя наценку срочностью заказа.</p>
        <p>Все машины находятся в исправном состоянии. Мы регулярно проводим их техосмотр в сертифицированных производителями сервисных центрах. Водители, которые сотрудничают с компанией, являются опытными специалистами в своей сфере. Они идеально управляемой доверенной техникой, знают обо всех её технических возможностях.</p>
  </div>