<%= render "pages/navbar" %>
<div class="oplata">
  <h1>Варианты оплаты</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag('nal', class: 'oplata1' ) %>
        <h3>Наличный расчет </h3>
      </div>
      <div class="col-md-6">
        <%= image_tag('beznal', class: 'oplata1' ) %>
        <h3> Безналичный расчет</h3>
      </div>
    </div>
  </div>
  <br>
  <p>Мы работаем как с юридическими, так и с физическими лицами, и предлагаем различные варианты оплаты услуг.Вся документация (счета, акты, договоры) предоставляется оперативно.</p>
  <p>Открытость к сотрудничеству позволяет находить компромиссы в любых ситуациях. Мы готовы рассмотреть ваши предложения по оплате и обсудить индивидуальные условия.</p>
  <p>При заключении арендного соглашения вы не несете рисков, связанных с неожиданной поломкой дорогой техники. Арендовать специализированные машины можно в любой сезон. Помимо проката спецтехники, у нас можно заказать уборочные и земельные, грунтовые и дорожно-строительные работы.</p>
  </div>
