<div id="<%= dom_id icon %>">
  <p>
    <strong>Title:</strong>
    <%= icon.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= icon.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= icon.image_url %>
  </p>

</div>
